/*
Our custom CSS to control the look and feel of the site.
Select DOM elements based on their name, 
class (.), or ID (#) and define their styles here.
*/
body {
  font-size: 1.5em;
  color: #444;
  font-family: 'Arvo', serif;
  font-color: #333333;
  z-index: -1000000000;
}

#top-nav {
	font-size: 9pt;
	font-color: #cccccc;
	margin-top: 10px;
}

#title-section {
	border-top: 1px solid black;
	border-bottom: 2px solid gray;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}

#title {
	font-weight: 700;
	font-size: 36pt;
}

#date {
	font-size: 14pt;
}

#categories {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.category {
	font-color: black;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 10.5pt;
	font-style: normal;
	cursor: pointer;
}

.selected-category {
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: inherit;
}

#banner {
	padding-top: 5px;
	height: 80px;
	background-color: lightgray;
	margin-bottom: 20px;
	text-align: middle;
}

#clickToExpand {
	margin-right: 10px;
	margin-left: 75%;
	text-align: right;
	color: white;
	cursor: pointer;
	font-weight: 700;
}

#banner-content-div {
	margin-top: -20px;
	text-align: center;
	z-index: 1;
}

.banner-heading {
	font-weight: 700;
	font-style: italic;
	font-size: 18pt;
}

.banner-content {
	font-size: 12pt;
	font-color: white;
	background-color: lightgray;
	z-index: 1;
	opacity: 1;
	margin-bottom: 100px;
	position: relative;
}

#article-section {
	padding-right: 0;
}

.col-md-3 {
	padding-left: 0;
}

.aside-title {
	padding-top: 10px;
	font-weight: 700;
	font-style: italic;
	font-size: 20pt;
	line-height: 1;
}

.aside-snippet {
	font-size: 12pt;
}

.aside-separator {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
}

.home-main-article-title-first {
	font-style: italic;
	font-size: 16pt;
}

.home-main-article-title {
	font-style: italic;
	font-weight: 700;
	font-size: 16pt;
}

.home-main-location {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10pt;
}

.home-main-snippet {
	font-size: 10pt;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.content-main-article-title {
	font-weight: 700;
	font-size: 16pt;
}