
<div class="col-md-7">
	<article class="content-separator content-format">
		<p><span class="aside-title">{{catNews.main.headLine}}</span></p>
			<img src = "Black_blank.jpg" style="width:600px;height:350px;margin-top:10px;margin-bottom:10px" class="img-responsive">
		<p><em>{{catNews.main.snippet}}</em></p>
		<p>{{catNews.main.fullStory}}</p>
	</article> 
</div>
<div class="col-md-5">
	<article>
		<p class="content-section"><em>{{catNews.aside.headLine}}</em></p>
		<p><span class="home-main-location content-color-change">{{catNews.aside.location}}&nbsp&nbsp</span>{{catNews.aside.fullStory}}</p>
	</article> 
</div>