<script>
	$('#clickToExpand').on('click', function(e) {
    e.preventDefault();
    var $collapse = $(this).closest('.collapse-group').find('.collapse');
    $collapse.collapse('toggle');
});
</script>
<div id="banner" class="collapse-group">
	<div id="clickToExpand">
		<span style="display:inline-block;vertical-align:top;margin-right:5px">Click to expand 
		</span>
		<span style="display:inline-block;vertical-align:top;margin-top:-14px"><i class="fa fa-angle-down" style="font-size:50px;font-weight:900"></i>
		</span>
	</div>
	<div id="banner-content-div">
		<span class="banner-heading">{{bannerInfo[0].message}}</span>
		<div class=" banner-content collapse">{{bannerInfo[1].message}}</div>
	</div>
</div>
<div class="col-md-3">
	<article ng-repeat="article in homeNews.aside">
		<span class="aside-title">{{article.headLine}}</span>
		<p class="aside-snippet aside-separator"><span class="aside-location">{{article.location}}&nbsp&nbsp</span>{{article.snippet}}</p>
	</article>
</div>
<div class="col-md-4">
	<article ng-repeat="article in homeNews.main">
		<span class="home-main-article-title">{{article.headLine}}</span>
		<p class="home-main-snippet"><span class="home-main-location">{{article.location}}&nbsp&nbsp</span>{{article.snippet}}</p>
	</article>
</div>
<div class="col-md-5">
	<span class="opinion-title" style="text-align:center;display:block">The Opinion Pages</span>
	<div class="row" style="margin-top:5px">
		<div class="col-md-6" ng-repeat="article in homeNews.opinion">
			<span class="opinion-article-title">{{article.headLine}}</span>
			<p class="opinion-snippet"><span class="opinion-location">{{article.location}}&nbsp&nbsp</span>{{article.snippet}}</p>
		</div>
	</div>
	<span class="travel-title">TRAVEL</span>
	<span style="font-size:10pt;letter-spacing:-1px">
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
		<i class="fa fa-angle-right"></i>
	</span>

	<div class="row" style="margin-top:5px">
		<div class="col-md-6" ng-repeat="article in homeNews.travel">
			<span class="travel-article-title">{{article.headLine}}</span>
			<p class="travel-snippet"><span class="travel-location">{{article.location}}&nbsp&nbsp</span>{{article.snippet}}</p>
		</div>
	</div>
</div>